* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-size: 20px;
}

body {
    background: azure;
}

a {
    text-decoration: none;
}

a:hover {
	color: #CC0000;
	text-decoration: underline;
}

.container {
    min-height: 85vh;
}

.container-wrapper {
    min-height: 72vh;

    display: flex;
}

.container-sign-in {
    width: 100%;
    height: 100%;

    margin: 50px 0 50px 200px;

    display: flex;
    flex-direction: column;
}

.container-notes {
    width: 100%;
    height: 100%;

    margin: 50px;

    display: flex;
    flex-direction: column;
}

/* header starts */

.primary-header {
    height: 10vh;
    min-height: 85px;
    max-height: 10%;
    background-color: cadetblue;

    padding: 0 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    text-transform: uppercase;
}

.logo {
    height: 65px;
    width: 65px;

    background-image: url("/notes/static/notes/images/home-icon.png");

    display: block;
}

.primary-nav {
    flex-grow: 1;
}

.primary-nav-links {
    display: flex;
}

.primary-nav-item {
    margin: 0 10px;
    padding: 10px;

    list-style-type: none;
    border: 1px solid blue;
    background-color: #ffffff;
}

.primary-nav-item:first-child {
    margin-left: 25px;
}

.push-right {
    margin-left: auto;
}

/* header ends */

/* sidebar starts */

.aside-left {
    height: 100%;

    position: sticky;
    top: 0;
}

.sidebar {
    width: 100%;
    max-width: 15%;
    min-width: 225px;

    margin: 25px 0 25px 25px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: aquamarine;
}

.sidebar-links {

}

.sidebar-item {
    margin: 20px 0;
    padding: 10px;
    min-width: 165px;

    text-align: center;
    list-style-type: none;
    border: 1px solid blue;
    background-color: #ffffff;
}

.sidebar-selected {
    margin: 20px 0;
    padding: 10px;
    min-width: 165px;

    text-align: center;
    list-style-type: none;
    border: 1px solid blue;
    background-color: darkgray;
}

/* sidebar ends */

/* content starts */

/*.content {*/
/*    width: 100%;*/
/*    height: 200vh;*/
/*    min-height: 85vh;*/

/*    padding: 65px;*/

/*    display: flex;*/
/*}*/

/* content ends */

/* pagination starts */

.container-pagination {
    display: flex;
}

.pagination {
    height: 100%;
    min-height: 7vh;

    margin: 3vh auto;
    padding: 5px;

    display: flex;
    place-items: center;
    text-align: center;
    justify-content: center;
    align-self: center;

    background: #dde1e7;
    border-radius: 3px;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);

    list-style: none;
}

.pagination li, .pagination a {
    height: 40px;
    width: 50px;

    display: block;


    color: #4d3252;
    text-decoration: none;
    line-height: 45px;
}

.pagination-item, .pagination-item-selected {
    margin: 0 5px;

    flex: 1;

    background: #dde1e7;
    border-radius: 3px;
}

.pagination-item, .pagination-previous, .pagination-next {
    font-size: 18px;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.pagination-item-selected {
    font-size: 17px;
    box-shadow: inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.pagination-previous {
  margin: 0 15px 0 10px;
}

.pagination-next {
  margin: 0 10px 0 15px;
}

/* pagination ends */

/* footer starts */

footer {
    width: 100%;
    height: 5%;
    min-height: 5vh;

    position: relative;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: darkgrey;
}

/* footer ends */
