{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <link href="{% static 'notes/css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'notes/images/home-icon.png' %}" rel="shortcut icon" type="image/x-icon">
</head>
<body>

<!-- header -->
{% block header %}
<header class="container primary-header">
    <a class="logo" href="{% url 'home' %}">
        <img class="logo" src="{% static 'notes/images/home-icon.png' %}" alt="logo">
    </a>
    <nav class="primary-nav">
        <ul class="primary-nav-links">
            {% if  request.user.is_authenticated %}
                {% for m in menu %}
                    <li class="primary-nav-item"><a href="{% url m.url_name %}">{{ m.title }}</a></li>
                {% endfor %}
                <li class="primary-nav-item push-right">{{ user.username }}</li>
                <li class="primary-nav-item"><a href="{% url 'logout' %}" >Logout</a></li>
            {% else %}
                <li class="primary-nav-item">WebNotes</li>
                <li class="primary-nav-item push-right"><a href="{% url 'login' %}" >Login</a></li>
                <li class="primary-nav-item"><a href="{% url 'sign_in' %}" >Sign in</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
{% endblock %}


<!-- container -->
<div class="container">

    <div class="container-wrapper">

        <!-- sidebar -->
        {% block sidebar %}{% endblock %}

        <!-- content -->
        {% block content %}{% endblock %}

    </div>

    <!-- pagination -->
    {% if  page_obj.has_other_pages %}
        <nav class="container-pagination">
            <ul class="pagination">

                {% if page_obj.has_previous %}
                    <li class="pagination-previous">
                        <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                    </li>
                {% endif %}

                {% for p in paginator.page_range %}
                    {% if page_obj.number == p %}
                        <li class="pagination-item-selected">
                            {{ p }}
                        </li>
                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                        <li class="pagination-item">
                            <a href="?page={{ p }}">{{ p }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="pagination-next">
                        <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
                    </li>
                {% endif %}

            </ul>
        </nav>
    {% endif %}

</div>

<!-- footer -->
<footer>
    <span>WebNotes is a site made by Nero for learning purpose</span>
</footer>

</body>
</html>