{% extends 'notes/base.html' %}

{% block sidebar %}
    <aside class="aside-left">
        <div class="sidebar">
            <ul class="sidebar-links">
                <li class="sidebar-item"><a href="{% url 'add_private_note' %}">Add Note</a></li>
                <li class="sidebar-item"></li>
                {% if sidebar_notes|length > 0 %}
                    <li class="sidebar-item"><a href="{% url 'private_notes' %}">All Notes</a></li>
                    <li class="sidebar-item"></li>
                    {% for n in sidebar_notes %}
                        {% if n.pk == note_selected %}
                            <li class="sidebar-selected">{{ n }}</li>
                        {% else %}
                            <li class="sidebar-item"><a href="{{ n.get_absolute_url }}">{{ n }}</a></li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </ul>
        </div>

        <div class="sidebar">
            <ul class="sidebar-links">
                <li class="sidebar-item"><a href="{% url 'add_folder' %}">Add Folder</a></li>
                <li class="sidebar-item"></li>
                {% if sidebar_folders|length > 0 %}
                    <li class="sidebar-item"><a href="{% url 'all_folders' %}">All Folder</a></li>
                    <li class="sidebar-item"></li>
                    {% for f in sidebar_folders %}
                        {% if f.pk == folder_selected and folder_link %}
                            <li class="sidebar-selected"><a href="{{ f.get_absolute_url }}">{{ f }}</a></li>
                        {% elif f.pk == folder_selected %}
                            <li class="sidebar-selected">{{ f }}</li>
                        {% else %}
                            <li class="sidebar-item"><a href="{{ f.get_absolute_url }}">{{ f }}</a></li>
                        {% endif %}
                    {% endfor %}
                {% endif %}


            </ul>
        </div>
    </aside>
{% endblock %}

{% block content %}
    <div class="container-notes">
        {% if is_folder %}
            {% for note in folder_notes %}
                <div>
                    <p>{{ note.title }}: </p>
                    <p>{{ note.content }}</p>
                    <p><a href="{{ note.get_absolute_url }}">Reed all</a></p>
                    <br>
                </div>
            {% endfor %}
        {% else %}
            {% for note in notes %}
                <div>
                    <p>{{ note.title }}: </p>
                    <p>{{ note.content }}</p>
                    <p><a href="{{ note.get_absolute_url }}">Reed all</a></p>
                    <br>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}